.item1{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem1");
}
.item2{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem2");
}
.item3{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem3");
}
.item4{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem4");
}
.item5{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem5");
}
.item6{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem6");
}
.item7{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem7");
}
.item8{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem8");
}
.item9{
    height: map-get($height, "portfolioallitems");
    width: map-get($width, "portfolioallitems");
    background-color: map-get($bgclr, "portfolioallitems");
    margin-top: map-get($marginT, "portfolioitem9");
}

